In [1]:
import pandas as pd

d = pd.read_csv('/Users/gyanarora/Downloads/loans-2024-12-04.csv')
d.head()

,GD Id,Application Date,Customer Name,Email,Phone Number,R.M. Name,R.M. Email,R.M. Mobile Number,Program Name,Requested Loan Amount,...,Disbursement Date,UTR Number,Institute Customer Id / Salesforce Email Id,Institute Employee Email,Credit Score Band,Lender,Approved Under Policy,Disbursement Schedule,Next EMI Date,Next EMI Amount
0,25912,04 November 2024,ABHISHEK CHANDEL,abhichandel64@gmail.com,7011851286,Ayan Raza,ayan.raza@gyandhan.com,9289682987,DS Certification,185000,...,NaN,NaN,muni.bhaskar@newtonschool.co,muni.bhaskar@newtonschool.co,1.0,GyanDhan,NaN,NaN,NaN,NaN
1,25919,04 November 2024,Mahendar Singh Satvendar Singh Pothiwal,mahendar0808singh@gmail.com,9980665708,Ayan Raza,ayan.raza@gyandhan.com,9289682987,DS Certification,170000,...,NaN,NaN,muni.bhaskar@newtonschool.co,muni.bhaskar@newtonschool.co,6.0,GyanDhan,NaN,NaN,NaN,NaN
2,25920,04 November 2024,Kunal Rajput,krajput950@gmail.com,9910985835,Mohit Dhingra,mohit.dhingra@gyandhan.com,9289230882,DS Certification,190000,...,04 November 2024,4.309222e+11,NaN,muni.bhaskar@newtonschool.co,7.0,GyanDhan,ML-Based Cibil Policy,"[{:s_no=>1, :month=>""November, 2024"", :amount=...",2024-12-07,15833.0
3,25931,05 November 2024,Siddhant Khorjuvekar,siddhantkhorjuvekar.sk@gmail.com,8208732965,Ayan Raza,ayan.raza@gyandhan.com,9289682987,DS Certification,185000,...,NaN,NaN,NaN,muni.bhaskar@newtonschool.co,NaN,NaN,NaN,NaN,NaN,NaN
4,25955,06 November 2024,JOHN SAMUEL,johnsam968@gmail.com,8939156689,Ayan Raza,ayan.raza@gyandhan.com,9289682987,DS Certification,80000,...,NaN,NaN,muni.bhaskar@newtonschool.co,muni.bhaskar@newtonschool.co,7.0,GyanDhan,NaN,NaN,NaN,NaN

In [4]:
d = pd.read_excel('/Users/gyanarora/Downloads/ES_all_2024-11-01_2024-12-04.xlsx')
d.shape

(132, 54)

In [5]:
d.head()

,Create Date,Order Id,Mobile number,Customer name,Chance of approval,Tentative limit,Order Amount,Detailed status,Available limit,Customer Id,...,Applicant Email,Applicant Name,Application Type,Downpayment Refund Time,Downpayment Refund Status,Settlement Merchant ID,Settlement Merchant Name,Category Name,Merchant Status,Net Settlement Status
0,2024-12-03 14:52:56.0,E1XHQBR,9867839751,MOHAN KUMAR,Good,"1,90,000.00","1,90,000.00",Disbursed loan,2601.0,1458644294,...,himanshuth878@gmail.com,Himanshu Thakur,NaN,NaN,NaN,NaN,NaN,INCANUS TECHNOLOGIES PRIVATE LIMITED-7311,Active,Inactive
1,2024-11-30 21:17:51.0,E1XMLR9,8527462817,Rajat Kumar,Very High,"1,70,000.00","1,70,000.00",Disbursed loan,1429.0,1458657675,...,NaN,NaN,NaN,NaN,NaN,7311.0,INCANUS TECHNOLOGIES PRIVATE LIMITED,INCANUS TECHNOLOGIES PRIVATE LIMITED-7311,Active,Inactive
2,2024-11-30 20:33:42.0,E1XMLR9-exp,8527462817,Rajat Kumar,Very High,"1,70,000.00","1,70,000.00",Disbursed loan,1429.0,1458657675,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,INCANUS TECHNOLOGIES PRIVATE LIMITED-7311,Active,Inactive
3,2024-11-30 19:34:01.0,E1XKPFT,7797281169,MANJU GAIN,Very High,"1,60,000.00","1,60,000.00",Disbursed loan,858.0,1458653046,...,moupia9621@gmail.com,MOUPIA GAIN,NaN,NaN,NaN,7311.0,INCANUS TECHNOLOGIES PRIVATE LIMITED,INCANUS TECHNOLOGIES PRIVATE LIMITED-7311,Active,Inactive
4,2024-11-30 19:33:47.0,E1XL53O,9711080596,Vishan Dev,Good,"1,90,000.00","1,90,000.00",Disbursed loan,603.0,1458653852,...,deepakkumarofficial13@gmail.com,Deepak Kumar,NaN,NaN,NaN,7311.0,INCANUS TECHNOLOGIES PRIVATE LIMITED,INCANUS TECHNOLOGIES PRIVATE LIMITED-7311,Active,Inactive

In [9]:
pd.to_datetime(d['Create Date']).describe()

count                              132
mean     2024-11-22 03:36:31.621212160
min                2024-10-08 16:39:04
25%      2024-11-16 14:16:37.249999872
50%         2024-11-25 12:41:27.500000
75%         2024-11-28 20:22:57.500000
max                2024-12-03 14:52:56
Name: Create Date, dtype: object

In [11]:
d['Mobile number'].nunique()

84

In [15]:
d['Chance of approval'].value_counts(normalize=True)

Chance of approval
Good               0.696970
Very High          0.227273
Can not Approve    0.075758
Name: proportion, dtype: float64

In [16]:
d['Detailed status'].value_counts(normalize=True)

Detailed status
Disbursed loan                           0.689394
Rejected                                 0.106061
6) Bank statement required               0.090909
1) Ready to disburse                     0.068182
4) KYC Pending                           0.022727
6.1) Bank statement/document required    0.015152
4.1) Better KYC images required          0.007576
Name: proportion, dtype: float64